<div class="main-content">
    <div class="section-content section-content-p30">
        <h4>Category: {{ categoryName }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let book of books" class="col-md-3">
                    <div class="book-box">
                        <a routerLink="/books/{{ book.id }}">
                            <img src="{{ book.imageUrl }}" class="image-responsive">
                        </a>
                        <a routerLink="/books/{{ book.id }}">
                            <h1>{{ book.name }}</h1>
                        </a>
                        <div class="price">{{ book.unitPrice | currency: 'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <div *ngIf="books?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No books found.
                </div>
            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="pageNumber"
                                                [pageSize]="pageSize"
                                                [collectionSize]="totalElements"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                                (pageChange)="listBooks()">
                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 mt-2" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select (change)="updatePageSize($event.target.value)">
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>